.query {
  width: calc(100% - 20px);
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
}

.wrapper-query{
  min-height: 30px;
  min-width: 100px;
  height: 100%;
  width: 100%;
}