.image-container {
  width: 100%;
}

.image {
  width: calc(100% - 20px);
  margin: 8px;
}

.column {
  width: 100%
}

@media only screen and (min-width: 992px) {
  .image-container {
    width: 65%;
    margin: auto;
    margin-top: 140px;
  }
  .column {
    width: 32%;
    float: left;
  }
}